body {
  font-family: 'Asap',Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #fff;
  color: black;
  margin: 20px;
}

nav {
  width: 25%;
  background: orangered;

    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: 0;
      text-transform: uppercase;
      letter-spacing: 2px;

    span {
      padding-left: 15px;
    }

    a {
      text-decoration: none;
      color: white;
    }
  }
}

.container {
  display: flex;
}

.content {
  width: 75%;
  background: darkorange;
}

.control {
  display: none;
}
